@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ICollection<BMW_Final_Project.Engine.Models.Cloth.AllClothModel>

<div class="container-fluid">
    <h1 class="display-2 fw-bold text-center pt-5">ЦЯЛАТА МОДА</h1>
    <h3 class="fw-bold text-center">По модерни с BMW !</h3>
</div>
@if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-center p-5">
        <a asp-controller="Admin" asp-action="AddCloth" class="Add-Motorcycle-Button">Добави облекло</a>
    </div>
}


<div class="row p-5">
    <div class="d-lg-flex">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <a asp-controller="Cloth" asp-action="Index" class="@* Mini-menu-text *@">ВСИЧКИ</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Cloth" asp-action="LoadById" asp-route-id="1" class="Mini-menu-text">Мъже</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Cloth" asp-action="LoadById" asp-route-id="2" class="Mini-menu-text">Жени</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Cloth" asp-action="LoadById" asp-route-id="3" class="Mini-menu-text">Деца</a>
        </div>
    </div>
</div>

@if (Model.Any())
{
    <div class="Motorcycles-container2 container-fluid">
        @foreach (var cloth in Model)
        {

            <div class="p-5">

                @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <img class="photo-of-motorcycle2" src="@cloth.ImgUrl" alt="Cloth-Photo" />
                    <hr />
                    <h5>@cloth.Name</h5>
                    <h5>Колекция: @cloth.ClothCollection</h5>
                    <h6>Цена: @cloth.Price$</h6>
                    <h5>Брой тениски @cloth.Amount</h5>
                    <br />
                    <a asp-controller="Cloth" asp-action="Details" asp-route-id="@cloth.Id" class="Button-Find">Открий сега</a>
                    <a asp-controller="Admin" asp-action="EditCloth" asp-route-id="@cloth.Id" class="Button-Find2">Промени</a>
                    <div class="p-4">
                        <form asp-controller="Admin" asp-action="DeleteCloth" onsubmit="return ConfirmDelete()" asp-route-id="@cloth.Id" method="post">
                            <button type="submit" class="Button-Find3">Изтрий мотора</button>
                        </form>
                    </div>
                }
                else
                {
                    if (cloth.Amount > 0)
                    {
                        <img class="photo-of-motorcycle2" src="@cloth.ImgUrl" alt="Cloth-Photo" />
                        <hr />
                        <h5>@cloth.Name</h5>
                        <h5>Колекция: @cloth.ClothCollection</h5>
                        <h6>Цена: @cloth.Price$</h6>
                        <br />
                        <a asp-controller="Cloth" asp-action="Details" asp-route-id="@cloth.Id" class="Button-Find">Открий сега</a>
                    }
                }
            </div>
        }

    </div>
}
else
{
    <p>Няма намерени дрехи от този тип!</p>
}

@section Scripts {
    <script src="~/js/DeleteCheck/DeleteCheck.js"></script>
}