@model BMW_Final_Project.Core.Models.MotorcycleDetailsModel

<div class="container-fluid">
    <div class="text-center">
        <img src="@Model.ImageUrl" alt="RR photo" class="DetailsPhoto img-fluid w-50" />
    </div>

    <div class="containerTextDetails">
        <p class="display-2 fw-bold">@Model.Model</p>
        <p class="display-4">НЕКА ПЪТЯТ Е ВАШАТА СЦЕНА</p>
        <p class="pt-2 DetailsText">
            Изпълнение на @Model.Model. С този сензационен @Model.TypeMotor ще сте в светлината на прожекторите.<br /> Характерът му: приветлив.Дизайн: изразителен.
            При неговата разработка не е оставен нито един винт.<br /> С революционната си концепция на рамката този мотоциклет е наистина готов за персонализиране.<br />
            Затова не се колебайте да направите нещо още по-добро – направете го свое олицетворение.<br />
            @Model.Model ви приканва да декларирате своето лично присъствие на улицата. Нека <br />
            този мотор с неговите @Model.HorsePowers конски сили ви пренесат в нов свят!
        </p>
    </div>

    <div class="container-fluid text-center ImgEngine">
        <img src="~/img/Enginejpg.jpg" class="pt-5 pb-5 w-50">
        <div class="Hr">
            <p class="display-4 fw-bold">@Model.HorsePowers</p>
            <p class="Enginge-Text fw-bold">Конски Сили</p>
        </div>
        <div class="CC">
            <p class="display-4 fw-bold">@Model.CC</p>
            <p class="Enginge-Text fw-bold">Кубични сили</p>
        </div>
        <div class="Kg">
            <p class="display-4 fw-bold">@Model.Kg</p>
            <p class="Enginge-Text fw-bold">Тегло на мотора</p>

        </div>
        <div class="TankCap">
            <p class="display-4 fw-bold">@Model.TankCapacity L</p>
            <p class="Enginge-Text fw-bold">Капацитет на резервоара</p>
        </div>
    </div>

    <div class="text-center ContainerDetailsData">
        <h1 class="H1Tech">ТЕХНИЧЕСКИ  <img class="FlagPhoto" src="~/img/depositphotos_45404339-stock-illustration-waving-crossed-black-and-white.jpg">  ДАННИ</h1>

        <div class="p-5">
            <div class="p-4">
                <h2 class="TextData fw-bold">КОНТРОЛ НА СЦЕПЛЕНИЕТО</h2>
                <hr />
                <p class="p-details">@Model.DTC</p>
            </div>
            <div class="p-4">
                <h2 class="TextData fw-bold">ПРЕДНА СПИРАЧКА</h2>
                <hr />
                <P class="p-details">@Model.FrontBreak</P>
            </div>
            <div class="p-4">
                <h2 class="TextData fw-bold">ЗАДНА СПИРАЧКА</h2>
                <hr />
                <P class="p-details">@Model.RearBreak</P>
            </div>
            <div class="p-4">
                <h2 class="TextData fw-bold">ВИСОЧИНА НА СЕДАЛКАТА</h2>
                <hr />
                <P class="p-details">@Model.SeatHeightMm</P>
            </div>
            <div class="p-4">
                <h2 class="TextData fw-bold">ЕВРО СТАНДАРТ</h2>
                <hr />
                <P class="p-details">@Model.StandardEuro</P>
            </div>
            <div class="p-4">
                <h2 class="TextData fw-bold">СКОРОСТНА КУТИЯ</h2>
                <hr />
                <P class="p-details">@Model.Transmission</P>
            </div>
        </div>
    </div>
    <div class="PriceContainer">
        <h1 class="priceText">Цена: </h1>
        <a asp-controller="" asp-action="" asp-route-id="@Model.Id" class="textPrice">@Model.Price$</a>
    </div>

</div>

