@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BMW_Final_Project.Engine.Models.Motorcycle.EditMotorcycleModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-controller="Motorcycle" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group p-3">
                    <label asp-for="@Model.Model" class="form-label-add-edit">Модел</label>
                    <input asp-for="@Model.Model" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.Model" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.TypeMotorId">Тип на мотор</label>
                    <select asp-for="@Model.TypeMotorId" class="form-control">
                        <option value="">Изберете тип на мотора</option>
                        @foreach (var typeMotor in Model.TypeMotorModels)
                        {
                            <option value="@typeMotor.Id">@typeMotor.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.TypeMotorId" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.ColorCategoryId">Цвят на мотора</label>
                    <select asp-for="@Model.ColorCategoryId" class="form-control">
                        <option value="">Изберете цвят</option>
                        @foreach (var colorCategory in Model.ColorCategoryModels)
                        {
                            <option value="@colorCategory.Id">@colorCategory.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.ColorCategoryId" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Kg">Тегло на мотора</label>
                    <input asp-for="@Model.Kg" class="form-control" />
                    <span asp-validation-for="@Model.Kg" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.TankCapacity">Капацитет на резервоара (в литри)</label>
                    <input asp-for="@Model.TankCapacity" class="form-control" />
                    <span asp-validation-for="@Model.TankCapacity" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.HorsePowers">Конси сили</label>
                    <input asp-for="@Model.HorsePowers" class="form-control" />
                    <span asp-validation-for="@Model.HorsePowers" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.CC">Кубични сили</label>
                    <input asp-for="@Model.CC" class="form-control" />
                    <span asp-validation-for="@Model.CC" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.StandardEuroId">Евро стандарт</label>
                    <select asp-for="@Model.StandardEuroId" class="form-control" aria-required="true">
                        <option value="">Изберете евро стандарт</option>
                        @foreach (var standardEuro in Model.StandardEuroModels)
                        {
                            <option value="@standardEuro.Id">@standardEuro.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.StandardEuroId" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Price">Цена</label>
                    <input asp-for="@Model.Price" class="form-control" />
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Year">Година на производство</label>
                    <input asp-for="@Model.Year" class="form-control" />
                    <span asp-validation-for="@Model.Year" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.DTC">Динамичен контрол на сцеплението</label>
                    <input asp-for="@Model.DTC" class="form-control" />
                    <span asp-validation-for="@Model.DTC" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Transmission">Скоростна кутия</label>
                    <input asp-for="@Model.Transmission" class="form-control" />
                    <span asp-validation-for="@Model.Transmission" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.FrontBreak">Предна спирачка</label>
                    <input asp-for="@Model.FrontBreak" class="form-control" />
                    <span asp-validation-for="@Model.FrontBreak" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.RearBreak">Задна спирачка</label>
                    <input asp-for="@Model.RearBreak" class="form-control" />
                    <span asp-validation-for="@Model.RearBreak" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.SeatHeightMm">Височина на седалката (в милиметри)</label>
                    <input asp-for="@Model.SeatHeightMm" class="form-control" />
                    <span asp-validation-for="@Model.SeatHeightMm" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.ImageUrl">URL на снимката</label>
                    <input asp-for="@Model.ImageUrl" class="form-control" />
                    <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Amount">Брой мотори</label>
                    <input asp-for="@Model.Amount" class="form-control" />
                    <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                </div>
                <input type="submit" value="Submit" />

            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
