@model ICollection<BMW_Final_Project.Engine.Models.Accessories.AllMineAccsesoaries>

<div class="text-center row">

    <h1 class="display-2 fw-bold p-3">Моите BMW Аксесоари</h1>
    <div class="row p-5">
        <div class="d-lg-flex">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <a asp-controller="Cloth" asp-action="AllBought" class="Mini-menu-text">Дрехи</a>
            </div>
            <div class="col-md-2">
                <a asp-controller="Accessories" asp-action="AllBought" class="Mini-menu-text">Аксесоари</a>
            </div>
            <div class="col-md-2">
                <a asp-controller="Motorcycle" asp-action="AllBought" class="Mini-menu-text">Мотори</a>
            </div>
        </div>
    </div>
    @if (Model.Any())
    {
        @foreach (var e in Model)
        {
            <div class="card col-4" style="width: 30rem; ">
                <div class="card-body p-5">
                    <form class="input-group-sm" asp-controller="Accessories" asp-action="RemoveAccsesoar" asp-route-id="@e.Id">
                        <button type="submit" class="border-0 bg-white">
                            <div class="close-container">
                                <div class="leftright"></div>
                                <div class="rightleft"></div>

                                <input type="submit" class="close labelText" value="Remove" />

                            </div>
                        </button>
                    </form>

                    <img src="@e.ImgUrl" alt="Motorcycle photo" class="photo-of-motorcycle" />
                    <h4 class="card-title mt-1 fw-bold">Име: @e.Name</h4>
                    <h4 class="card-title mt-1 fw-bold">Цена: @e.Price$</h4>

                    <form class="input-group-sm" asp-controller="Accessories" asp-action="Force" asp-route-id="@e.Id">

                        <input type="submit" class="Button-Force" value="Купи" />

                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <h1>В момента нямате запазени аксесоари</h1>
    }
</div>
