@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BMW_Final_Project.Extensions
@using BMW_Final_Project.Engine.Contracts
@model ICollection<BMW_Final_Project.Engine.Models.Accessories.AllAccessoriesModel>
@inject IAccessoriesService Service

<h1 class="display-2 fw-bold text-center pt-5">ВСИЧКИ АКСЕСОАРИ</h1>
<h3 class="fw-bold text-center p-3">ОТКРИЙ СВОЯ АКСЕСОАР BMW MOTORRAD.</h3>

@if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-center p-5">
        <a asp-controller="Admin" asp-action="AddAccessoar" class="Add-Motorcycle-Button">Добави Аксесоар</a>
    </div>
}

<div class="row p-3">
    <div class="d-lg-flex">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <a asp-controller="Accessories" asp-action="Index" class="Mini-menu-text">ВСИЧКИ</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Accessories" asp-action="LoadById" asp-route-id="1" class="Mini-menu-text">Ежедневни</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Accessories" asp-action="LoadById" asp-route-id="2" class="Mini-menu-text">Електронни</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Accessories" asp-action="LoadById" asp-route-id="3" class="Mini-menu-text">Играчки</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Accessories" asp-action="LoadById" asp-route-id="4" class="Mini-menu-text">Други</a>
        </div>
    </div>
</div>

@if (Model.Any())
{
    <div class="Motorcycles-container container-fluid">
        @foreach (var accessor in Model)
        {
            <div class="m-5">
                @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <img class="photo-of-Accsesoar" src="@accessor.ImgUrl" alt="Motor-Photo" />
                    <hr />
                    <h5>Име: @accessor.Name</h5>
                    <h6>Цена: @accessor.Price$</h6>
                    <h5>Брой мотори @accessor.Amount</h5>
                    <br />
                    <div class="d-flex">
                        <div class="p-2">
                            <a asp-controller="Admin" asp-action="EditAccsesoar" asp-route-id="@accessor.Id" class="Button-Find2">Промени</a>
                        </div>
                        <div>
                            <form asp-controller="Admin" asp-action="DeleteAccsesoar" onsubmit="return ConfirmDelete()" asp-route-id="@accessor.Id" method="post">
                                <button type="submit" class="Button-Find3">Изтрий облекло</button>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    if (accessor.Amount > 0)
                    {
                        <img class="photo-of-motorcycle" src="@accessor.ImgUrl" alt="Motor-Photo" />
                        <hr />
                        <h5>Име: @accessor.Name</h5>
                        <h6>Цена: @accessor.Price$</h6>
                        <br />
                        if (!(await Service.IsThisProductIsAddedFromThisUserAsync(User.Id(), accessor.Id)))
                        {
                            <form class="input-group-sm" asp-controller="Accessories" asp-action="BuyAccsesoar" asp-route-id="@accessor.Id" method="post">
                                <input type="submit" value="Добави в количката" class="btn btn-success" />
                            </form>
                        }
                    }
                }
            </div>
        }

    </div>
}
else
{
    <h1 class="p-5 text-center">В момента нямаме такива аксесоари, очаквайте скоро!</h1>
}
@section Scripts {
    <script src="~/js/DeleteCheck/DeleteCheck.js"></script>
}