@model ICollection<BMW_Final_Project.Engine.Models.Event.AllEventsModel>

<div class="row p-5">
    @if (Model.Any())
    {
        @foreach (var eve in Model.OrderByDescending(x => x.StartEvent))
        {
            <div class="col-12 col-md-10 p-5 mb-3">
                <div class="row shadow-bottom p-4">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <img class="img-fluid imgEvent" src="@eve.ImgUrl" alt="Event Photo" />
                    </div>
                    <div class="col-md-8">
                        <h1 class="display-4">@eve.Name</h1>
                        <h4 class="p-3">@eve.Description</h4>
                        <p> -- Дата на началото на ивента: @eve.StartEvent часа</p>
                        <p> -- Дата на края на ивента: @eve.EndEvent часа</p>
                        <p>Местоположение: @eve.PlaceOfTheEvent</p>

                        @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <div class="d-flex">

                                <a asp-controller="Admin" asp-action="AddEvent" asp-route-id="@eve.Id" class="btn btn-success m-2">Добави събитие</a>

                                <a asp-controller="Admin" asp-action="EditEvent" asp-route-id="@eve.Id" class="btn btn-primary m-2">Промени</a>

                                <form asp-controller="Admin" asp-action="DeleteEvent" onsubmit="return ConfirmDelete()" asp-route-id="@eve.Id" method="post">
                                    <button type="submit" class="btn btn-danger m-2">Изтрий</button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <button class="btn btn-success w-50">Join</button>
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1>Няма открити ивенти в момента</h1>
    }
</div>

@section Scripts {
    <script src="~/js/DeleteCheck/DeleteCheck.js"></script>
}