@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BMW_Final_Project.Engine.Models.Accessories.AddAccsessoarModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <form asp-controller="Admin" asp-action="AddAccessoar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h1 class="display-4 fw-bold text-center p-3">Добавяне на аксесоар</h1>
                <div class="form-group p-3">
                    <label asp-for="@Model.Name" class="form-label-add-edit fw-bold">Име</label>
                    <input asp-for="@Model.Name" class="form-control border-2 border-dark fw-bold" aria-required="true" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.ImgUrl" class="fw-bold">Снимка</label>
                    <input asp-for="@Model.ImgUrl" class="form-control fw-bold border-2 border-dark" />
                    <span asp-validation-for="@Model.ImgUrl" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Amount" class="fw-bold">Количество</label>
                    <input asp-for="@Model.Amount" class="form-control fw-bold border-2 border-dark" />
                    <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Price" class="fw-bold">Цена</label>
                    <input asp-for="@Model.Price" class="form-control fw-bold border-2 border-dark" />
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.ItemTypeId" class="fw-bold">Колекция</label>
                    <select id="colorDropdown" asp-for="@Model.ItemTypeId" class="form-control fw-bold border-2 border-dark">
                        <option value="">Изберете колекция</option>
                        @foreach (var clothCollection in Model.ItemTypeModel)
                        {
                            <option value="@clothCollection.Id">@clothCollection.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.ItemTypeId" class="text-danger"></span>
                </div>



                <div class="p-4">
                    <input class="Add-Button-Submit" type="submit" value="Submit" />
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

