@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BMW_Final_Project.Engine.Models.Motorcycle.EditMotorcycleModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @await Component.InvokeAsync("AddColorModal")
            <form asp-controller="Admin" asp-action="EditMotorcycle" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h1 class="display-4 fw-bold text-center p-3">Редактиране на мотор</h1>
                <img class="img-fluid w-50 imgEdit" src="@Model.ImageUrl" alt="MotorcyclePhoto"/>
                <div class="form-group p-3">
                    <label asp-for="@Model.Model" class="form-label-add-edit fw-bold">Модел</label>
                    <input asp-for="@Model.Model" class="form-control border-2 border-dark fw-bold" aria-required="true"/>
                    <span asp-validation-for="@Model.Model" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.TypeMotorId" class="fw-bold">Тип на мотор</label>
                    <select asp-for="@Model.TypeMotorId" class="form-control border-2 fw-bold border-dark">
                        <option value="">Изберете тип на мотора</option>
                        @foreach (var typeMotor in Model.TypeMotorModels)
                        {
                            <option value="@typeMotor.Id">@typeMotor.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.TypeMotorId" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.ColorCategoryId" class="fw-bold">Цвят на мотора</label>
                    <select id="colorDropdown" asp-for="@Model.ColorCategoryId" class="form-control fw-bold border-2 border-dark">
                        <option value="">Изберете цвят</option>
                        @foreach (var colorCategory in Model.ColorCategoryModels)
                        {
                            <option value="@colorCategory.Id">@colorCategory.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.ColorCategoryId" class="text-danger"></span>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProgramNameModal">
                    Добави нов цвят
                </button>
                <a class="btn btn-danger" asp-controller="Admin" asp-action="ShowColorToDelete">Изтрийте цвят</a>

                <div class="form-group p-3">
                    <label asp-for="@Model.Kg" class="fw-bold">Тегло на мотора</label>
                    <input asp-for="@Model.Kg" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.Kg" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.TankCapacity" class="fw-bold">Капацитет на резервоара (в литри)</label>
                    <input asp-for="@Model.TankCapacity" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.TankCapacity" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.HorsePowers" class="fw-bold">Конси сили</label>
                    <input asp-for="@Model.HorsePowers" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.HorsePowers" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.CC" class="fw-bold">Кубични сили</label>
                    <input asp-for="@Model.CC" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.CC" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.StandardEuroId" class="fw-bold">Евро стандарт</label>
                    <select asp-for="@Model.StandardEuroId" class="form-control fw-bold border-2 border-dark">
                        <option value="">Изберете евро стандарт</option>
                        @foreach (var standardEuro in Model.StandardEuroModels)
                        {
                            <option value="@standardEuro.Id">@standardEuro.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.StandardEuroId" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Price" class="fw-bold">Цена</label>
                    <input asp-for="@Model.Price" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Year" class="fw-bold">Година на производство</label>
                    <input asp-for="@Model.Year" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.Year" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.DTC" class="fw-bold">Динамичен контрол на сцеплението</label>
                    <input asp-for="@Model.DTC" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.DTC" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Transmission" class="fw-bold">Скоростна кутия</label>
                    <input asp-for="@Model.Transmission" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.Transmission" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.FrontBreak" class="fw-bold">Предна спирачка</label>
                    <input asp-for="@Model.FrontBreak" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.FrontBreak" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.RearBreak" class="fw-bold">Задна спирачка</label>
                    <input asp-for="@Model.RearBreak" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.RearBreak" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.SeatHeightMm" class="fw-bold">Височина на седалката (в милиметри)</label>
                    <input asp-for="@Model.SeatHeightMm" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.SeatHeightMm" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.ImageUrl" class="fw-bold">URL на снимката</label>
                    <input asp-for="@Model.ImageUrl" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                </div>

                <div class="form-group p-3">
                    <label asp-for="@Model.Amount" class="fw-bold">Брой мотори</label>
                    <input asp-for="@Model.Amount" class="form-control fw-bold border-2 border-dark"/>
                    <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                </div>
                <div class="p-4">
                    <input class="Add-Button-Submit" type="submit" value="Запази" />
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/AddColor/AddColor.js"></script>
}
