@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



@* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another motorcycleService to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication motorcycleServices configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external motorcycleServices</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
@* </div> *@






<div class="login-Main-Container container-fluid">
    <div class="login-box">
        <h2>Регистрация</h2>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger1"></div>
            <div class="user-box">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" area-required="true">
                <label asp-for="Input.FirstName" class="form-label">Първо име</label>
                <span asp-validation-for="Input.FirstName" class="text-danger1"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" area-required="true">
                <label asp-for="Input.LastName" class="form-label">Последно име</label>
                <span asp-validation-for="Input.LastName" class="text-danger1"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.Nickname" class="form-control" autocomplete="username" area-required="true">
                <label asp-for="Input.Nickname" class="form-label">Прякор</label>
                <span asp-validation-for="Input.Nickname" class="text-danger1"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" area-required="true">
                <label asp-for="Input.Email" class="form-label">Имейл</label>
                <span asp-validation-for="Input.Email" class="text-danger1"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" area-required="true">
                <label asp-for="Input.Password" class="form-label">Парола</label>
                <span asp-validation-for="Input.Password" class="text-danger1"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" area-required="true" />
                <label asp-for="Input.ConfirmPassword">Потвърждаване на паролата</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger1"></span>
            </div>
            <button class="ButtonReg" id="registerSubmit" type="submit">
                <a>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Регистрация
                </a>
            </button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
